VITE_SUPABASE_URL=https://moyhtfgitjqpktciqiyp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1veWh0ZmdpdGpxcGt0Y2lxaXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyODc5MDIsImV4cCI6MjA4ODg2MzkwMn0.oJ1sxI5X-b2cQt32hqwh-vozfMZCGXoH2n6g0k4RjJE

# Email configuration (Gmail App Password required)
EMAIL_USER=pto.misamisoriental@gmail.com
EMAIL_PASS=ptoMisOr
EMAIL_FROM_NAME=Provincial Treasurer's Office Misamis Oriental
VITE_OFFICE_EMAIL=pto.misamisoriental@gmail.com

